In [1]:
import pandas as pd
import numpy as np

In [ ]:
# ==============SECTION A=================
data = {
    "Name": ["Amit", "Sara", "John", "Priya", "David"],
    "Age": [22, 25, 23, 24, 26],
    "Department": ["IT", "HR", "IT", "Finance", "HR"],
    "Salary": [40000, 42000, 38000, 45000, 41000]
}

df = pd.DataFrame(data)

# Q1: Display DataFrame
print("\nQ1: Display DataFrame")
print(df)

# Q2: Display first 3 rows
print("\nQ2: Display first 3 rows")
print(df.head(3))

# Q3: Display last 2 rows
print("\nQ3: Display last 2 rows")
print(df.tail(2))

# Q4: Display column names
print("\nQ4: Display column names")
print(df.columns)

# Q5: Display shape of dataset
print("\nQ5: Display shape of dataset")
print(df.shape)

# Q6: Employees with salary > 40000
print("\nQ6: Employees with salary > 40000")
print(df[df["Salary"] > 40000])

# Q7: Sort employees by salary
print("\nQ7: Sort employees by salary")
print(df.sort_values(by="Salary"))

# Q8: Add Bonus column (10% of salary)
print("\nQ8: Add Bonus column (10% of salary)")
df["Bonus"] = df["Salary"] * 0.10
print(df)

# Q9: Create BasicSalary column (Salary - Bonus)
print("\nQ9: Create BasicSalary column (Salary - Bonus)")
df["BasicSalary"] = df["Salary"] - df["Bonus"]
print(df)

# Q10: Drop Bonus column
print("\nQ10: Drop Bonus column")
df = df.drop(columns=["Bonus"])
print(df)




# ========== SECTION B ==========


print("\n========== SECTION B ==========")

# Q11: Read Student_data.csv
print("\nQ11: Read Student_data.csv")
stu = pd.read_csv("Student_data.csv")
print(stu)

# Q12: Show dataset description
print("\nQ12: Show dataset description")
print(stu.describe())

# Q13: Students scoring above 80
print("\nQ13: Students scoring above 80")
print(stu[stu["Marks"] > 80])

# Q14: Students scoring between 40 and 60
print("\nQ14: Students scoring between 40 and 60")
print(stu[(stu["Marks"] >= 40) & (stu["Marks"] <= 60)])

# Q15: Average marks per subject
print("\nQ15: Average marks per subject")
print(stu.groupby("Subject")["Marks"].mean())

# Q16: Count students in each subject
print("\nQ16: Count students in each subject")
print(stu["Subject"].value_counts())

# Q17: Subject with highest average marks
print("\nQ17: Subject with highest average marks")
print(stu.groupby("Subject")["Marks"].mean().idxmax())

# Q18: Add Pass/Fail column (Pass >= 50)
print("\nQ18: Add Pass/Fail column (Pass >= 50)")
stu["Result"] = np.where(stu["Marks"] >= 50, "Pass", "Fail")
print(stu)

# Q19: Replace missing values with mean
print("\nQ19: Replace missing values with mean")
stu.loc[0,"Marks"] = np.nan
stu["Marks"].fillna(stu["Marks"].mean(), inplace=True)
print(stu)

# Q20: Save cleaned data and read again
print("\nQ20: Save cleaned data and read again")
stu.to_csv("cleaned_students.csv", index=False)
new_df = pd.read_csv("cleaned_students.csv")
print(new_df)

Q1: Display DataFrame
    Name  Age Department  Salary
0   Amit   22         IT   40000
1   Sara   25         HR   42000
2   John   23         IT   38000
3  Priya   24    Finance   45000
4  David   26         HR   41000

Q2: Display first 3 rows
   Name  Age Department  Salary
0  Amit   22         IT   40000
1  Sara   25         HR   42000
2  John   23         IT   38000

Q3: Display last 2 rows
    Name  Age Department  Salary
3  Priya   24    Finance   45000
4  David   26         HR   41000

Q4: Display column names
Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')

Q5: Display shape of dataset
(5, 4)

Q6: Employees with salary > 40000
    Name  Age Department  Salary
1   Sara   25         HR   42000
3  Priya   24    Finance   45000
4  David   26         HR   41000

Q7: Sort employees by salary
    Name  Age Department  Salary
2   John   23         IT   38000
0   Amit   22         IT   40000
4  David   26         HR   41000
1   Sara   25         HR   42000
3  Priya   24    Finance   45000

Q8: Add Bonus column (10% of salary)
    Name  Age Department  Salary   Bonus
0   Amit   22         IT   40000  4000.0
1   Sara   25         HR   42000  4200.0
2   John   23         IT   38000  3800.0
3  Priya   24    Finance   45000  4500.0
4  David   26         HR   41000  4100.0

Q9: Create BasicSalary column (Salary - Bonus)
    Name  Age Department  Salary   Bonus  BasicSalary
0   Amit   22         IT   40000  4000.0      36000.0
1   Sara   25         HR   42000  4200.0      37800.0
2   John   23         IT   38000  3800.0      34200.0
3  Priya   24    Finance   45000  4500.0      40500.0
4  David   26         HR   41000  4100.0      36900.0

Q10: Drop Bonus column
    Name  Age Department  Salary  BasicSalary
0   Amit   22         IT   40000      36000.0
1   Sara   25         HR   42000      37800.0
2   John   23         IT   38000      34200.0
3  Priya   24    Finance   45000      40500.0
4  David   26         HR   41000      36900.0

========== SECTION B ==========

Q11: Read Student_data.csv
    Student_ID    Name  Subject  Marks
0          101   Aarav     Math     78
1          102    Diya  Science     85
2          103   Rohan     Math     62
3          104   Sneha  English     90
4          105   Karan  Science     55
5          106   Pooja     Math     48
6          107   Rahul  English     72
7          108  Ananya  Science     88
8          109  Vikram     Math     35
9          110    Neha  English     67
10         111   Arjun  Science     91
11         112   Kavya     Math     76
12         113  Manish  English     40
13         114    Isha  Science     59
14         115  Suresh     Math     82

Q12: Show dataset description
       Student_ID      Marks
count   15.000000  15.000000
mean   108.000000  68.533333
std      4.472136  18.192882
min    101.000000  35.000000
25%    104.500000  57.000000
50%    108.000000  72.000000
75%    111.500000  83.500000
max    115.000000  91.000000

Q13: Students scoring above 80
    Student_ID    Name  Subject  Marks
1          102    Diya  Science     85
3          104   Sneha  English     90
7          108  Ananya  Science     88
10         111   Arjun  Science     91
14         115  Suresh     Math     82

Q14: Students scoring between 40 and 60
    Student_ID    Name  Subject  Marks
4          105   Karan  Science     55
5          106   Pooja     Math     48
12         113  Manish  English     40
13         114    Isha  Science     59

Q15: Average marks per subject
Subject
English    67.25
Math       63.50
Science    75.60
Name: Marks, dtype: float64

Q16: Count students in each subject
Subject
Math       6
Science    5
English    4
Name: count, dtype: int64

Q17: Subject with highest average marks
Science

Q18: Add Pass/Fail column (Pass >= 50)
    Student_ID    Name  Subject  Marks Result
0          101   Aarav     Math     78   Pass
1          102    Diya  Science     85   Pass
2          103   Rohan     Math     62   Pass
3          104   Sneha  English     90   Pass
4          105   Karan  Science     55   Pass
5          106   Pooja     Math     48   Fail
6          107   Rahul  English     72   Pass
7          108  Ananya  Science     88   Pass
8          109  Vikram     Math     35   Fail
9          110    Neha  English     67   Pass
10         111   Arjun  Science     91   Pass
11         112   Kavya     Math     76   Pass
12         113  Manish  English     40   Fail
13         114    Isha  Science     59   Pass
14         115  Suresh     Math     82   Pass

Q19: Replace missing values with mean
    Student_ID    Name  Subject      Marks Result
0          101   Aarav     Math  67.857143   Pass
1          102    Diya  Science  85.000000   Pass
2          103   Rohan     Math  62.000000   Pass
3          104   Sneha  English  90.000000   Pass
4          105   Karan  Science  55.000000   Pass
5          106   Pooja     Math  48.000000   Fail
6          107   Rahul  English  72.000000   Pass
7          108  Ananya  Science  88.000000   Pass
8          109  Vikram     Math  35.000000   Fail
9          110    Neha  English  67.000000   Pass
10         111   Arjun  Science  91.000000   Pass
11         112   Kavya     Math  76.000000   Pass
12         113  Manish  English  40.000000   Fail
13         114    Isha  Science  59.000000   Pass
14         115  Suresh     Math  82.000000   Pass

Q20: Save cleaned data and read again
    Student_ID    Name  Subject      Marks Result
0          101   Aarav     Math  67.857143   Pass
1          102    Diya  Science  85.000000   Pass
2          103   Rohan     Math  62.000000   Pass
3          104   Sneha  English  90.000000   Pass
4          105   Karan  Science  55.000000   Pass
5          106   Pooja     Math  48.000000   Fail
6          107   Rahul  English  72.000000   Pass
7          108  Ananya  Science  88.000000   Pass
8          109  Vikram     Math  35.000000   Fail
9          110    Neha  English  67.000000   Pass
10         111   Arjun  Science  91.000000   Pass
11         112   Kavya     Math  76.000000   Pass
12         113  Manish  English  40.000000   Fail
13         114    Isha  Science  59.000000   Pass
14         115  Suresh     Math  82.000000   Pass

âœ… WEEK 2 PANDAS ASSIGNMENT COMPLETED

C:\Users\Spoorthi N\AppData\Local\Temp\ipykernel_24516\2498208539.py:99: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stu["Marks"].fillna(stu["Marks"].mean(), inplace=True)